:root {
  font: 18px/145% Montserrat, Poppins, system-ui, 'Segoe UI', sans-serif;
  letter-spacing: 0;
  color: #1f1f1f;
  background: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
}

#root {
  min-height: 100svh;
}

* {
  box-sizing: border-box;
}
